:root {
    width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: black;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    padding: 0.6em 1.2em;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: #032854;
    cursor: pointer;
}

button:hover {
    background-color: #868990;
    color: black;
}

button:active {
    color: black;
    background-color: white;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    background-color: #b4deef;
    border: none;
}

.annouce-container {
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: white;
}

.announcement {
    width: 82%;
    padding: 25px;
}

.announcement button {
    float: right;
}

.annouce-create-btn {
    justify-self: end;
    margin-right: 250px;
    width: 300px;
}

.create-an {
    margin: 50px auto;
    margin-right: 400px;
    width: 65%;
    height: auto;
    padding: 25px;
}

.create-an button {
    display: block;
    margin: 15px auto;
}

.atitle,
.adesc {
    padding: 10px;
    height: 65px;
    width: 80%;
    font-size: 1.6rem;
}

.edit-input {
    margin: 10px 0;
}

.atitle input,
.adesc textarea,
.announcement input,
.announcement textarea,
.edit-input {
    width: 75%;
    height: 50px;
    margin-left: 25px;
    border: 1px solid #0f2439;
    background-color: white;
    font-size: x-large;
}

.adesc textarea {
    height: 200px;
}

.ms {
    height: 50px;
    width: 100px;
}

.nav-container {
    width: 200px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0f2439;
    z-index: -1;
}

.nav-container ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-container ul li {
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.nav-container button {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0f2439;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.module {
    margin: 25px auto;
    padding: 10px;
}

.mod-btn {
    position: absolute;
    right: 200px;
    top: 0px;
}

.nav-container button:hover {
    background-color: #868990;
}

.nav-container ul li:hover {
    color: black;
    background-color: #868990;
}

.nav-container ul li:active {
    color: black;
    background-color: white;
}

.main-container {
    position: absolute;
    margin-left: 200px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.rp {
    padding: 100px;
}

.login-page {
    padding: 100px 0;
    margin: 0 auto;
    width: 50%;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.login-page label {
    width: 100%;
    font-size: 25px
}

.login-page input {
    width: 100%;
    height: 50px;
    font-size: 25px;
}

.login-page button {
    width: 100%;
}

.login-page select {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.profile-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 50%;
    margin: 50px auto;
    padding: 25px;
    place-items: left;
}

.profile-page div {
    padding: 10px;
}

.profile-page button {
    grid-column: span 2;
    width: 40%;
    place-self: center;
}

.profile-page img {
    place-self: center;
    grid-column: span 2;
    border-radius: 50%;
    width: 250px;
}

.home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 50px;
}

.home-page h2 {
    grid-column: span 2;
}

.home-page span {
    grid-column: span 2;
    font-size: larger;
}

.content {
    margin: 10px;
    padding: 10px;
}

.debug-tools {
    position: absolute;
    bottom: 5px;
    right: 250px;
}

.debug-tools p {
    margin: 0;
    text-align: center;
}

.debug-tools button {
    padding: 10px;
    margin: 5px;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}